{% for job in regular_jobs %}
    <div class="job-card" data-category="{{ job.category.name|default:'' }}">
        <div class="job-title-location">
            <a href="{% url 'job_detail' id=job.id job_slug=job.slug %}" class="job-title">{{ job.title }}</a>
            <div class="job-location-time">
                <span class="job-location">
                    {% if job.exact_cities %}
                        <span>{{ job.exact_cities }}</span>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="company-details" {% if job.company.logo and not job.post_with_logo %}style="padding-left: 100px;"{% endif %}>
            <div class="company-logo">
                {% if job.company.logo and job.post_with_logo %}
                    <img src="{{ job.company.logo.url }}" alt="{{ job.company.name }} logo">
                {% endif %}
            </div>
            <div class="company-name">
                <a href="{% url 'jobs_by_company' job.company.slug %}">{{ job.company.name }}</a>
            </div>
        </div>

        <div class="job-time-type">
            {% for jtt in job.job_time_types.all %}
                <span>{{ jtt.name }}</span>{% if not forloop.last %}, {% endif %}
            {% empty %}
                <span>N/A</span>
            {% endfor %}
        </div>

        <div class="job-dates">
            <div>{{ job.created_at|date:"j M" }}</div>
            <div>{{ job.expired_jobs|date:"j M" }}</div>
        </div>
    </div>
{% endfor %}